<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adity.invoicemaker">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"> </activity>
        <activity android:name=".signup" />
        <activity android:name=".give_details" />
        <activity
            android:name=".splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".NavigationDrawer"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".BankDetails"
            android:label="Details" />
        <activity
            android:name=".AddItem"
            android:label="Add Item" />

        <activty
            android:name=".InvoiceGen"
            android:label="Invoice" />

        <activity android:name=".InvoiceGenerate" />
        <activity android:name=".ClientDetails"></activity>



    </application>

</manifest>